<%= render 'shared/title', title: "Register" %>

<div class="well col-md-4" style="background-color: rgba(159, 205, 243, 0.5)">
	<%= form_for @user do |f| %>
		<div class="form-group">
			<%= f.label :name %>
			<br>
			<%= f.text_field :name %>
		</div>
		<div class="form-group">
			<%= f.label :email %>
			<br>
			<%= f.text_field :email %>
		</div>
		<div class="form-group">
			<%= f.label :password %>
			<br>
			<%= f.text_field :password %>
		</div>
		<%= f.submit(@user.new_record? ? 'Register' : 'Update Profile', class: 'btn btn-primary') %>
	<% end %>
</div>