<% if current_user == post.user %>
	<span class="btn btn-default btn-sm">
		<%= link_to "Edit", edit_post_path(post) %>
	</span>
	<span class="btn btn-default btn-sm">
		<%= link_to "Delete", post_path(post), method: :delete, :data => {:confirm => 'Are you sure to delete the post?'} %>
	</span>
<% end %>
<div class="row">
	<div class="well col-md-8" style="background-color: transparent; border-style: dotted; border-width: 3px; border-color: #69965F;">
		<h3><%= link_to post.title, post_path(post) %></h3>
		<h5><i><b><span style="color: #787785"><%= post.created_at.strftime("Posted %b %d, %Y by ") %></span><span style="color: #e31e50; font-size: 16px"><%= post.user.name %></span> </b></i></h5>
		<hr>
		<p><%= simple_format(post.content) %></p><br>
		<%= render 'categories/categories', categories: post.categories%>
	</div>
</div>