<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<%= link_to "New Post", new_post_path, class: 'btn btn-primary' %>
<br>
<br>

<% @posts.each do |post| %>

<h2><%= post.title %></h2>
	<p><%= post.content %></p>
	<span>
		<%= link_to "read the post... ", post_path(post) %>
	</span>
	<br>
	<br>
	<small>posted by </small> <%= "#{post.user.name}" %>

<% end %>
