<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

</br>
</br>

<% @posts.each do |post| %>

<h2><%= post.title %></h2>
	<p><%= post.content %></p>
	<small>posted by </small> <%= "#{post.user.name}" %>

	<p><h3>Comments</h3>
	<% post.comments.each do |comment| %>
	<p><%= comment.content %>
	<p><small>commented by </small><%= "#{comment.user.name}" %>
	<% end %>

<% end %>
