<%#= render 'shared/title', title: @post.title.upcase %>
<% if current_user == @post.user %>
	<span class="btn btn-default btn-sm">
		<%= link_to "Edit", edit_post_path(@post) %>
	</span>
	<span class="btn btn-default btn-sm">
		<%= link_to "Delete", post_path(@post), method: :delete, :data => {:confirm => 'Are you sure to delete the post?'} %>
	</span>
<% end %>
<%= render 'post', post: @post %>
<%= render 'comments', post: @post %>
<br>
<div class="row">
	<%= link_to "Back to Main page", posts_path %>
</div>