<!-- <h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p> -->

<%= render 'shared/title', title: 'Show Post' %>


<div class="row">
	<div class="well col-md-8 well">
		<h2><%= @post.title %></h2>
		<p>
			<%=  @post.content%>
		</p>
		<br>
		<small>post by </small><%= "#{@post.user.name}" %>
	</div>
</div>

<% if @post.comments.count > 0 %>
	<h4>Comments of <%= @post.title %>: </h4>
	<div class="row">
		<% @post.comments.each do |comment| %>
			<div class='well col-md-8'>
				<h5><b><%= "#{comment.user.name}" %></b> says:</h5>
				<pre><i><%= comment.content %></i></pre>
				<%= "at #{comment.created_at.to_time}: " %>
			</div>
		<% end %>	
	</div>
<% end %>

<% if logged_in? %>
	<h4>Leave a comment: </h4>
	<%= form_for [@post, @comment] do |f| %>
		<div class='row'>
			<%= f.text_area :content, class: 'col-md-4' %>
			<div class='col-md-8'>
				<%= f.submit 'Create Comment', class: 'btn btn-primary' %>
			</div>
		</div>
		<br>
	<% end %>
<% end %>

<br>
<div class="row">
	<%= link_to "Back to Main page", posts_path %>
</div>
