<%= render 'shared/title', title: 'Category List' %>
<%= render 'categories', categories: @categories %>
<br><br>
<% if logged_in? %>
	<div class="row" style="margin-left: 20px">
		<div class="well col-md-3">
			<span><%= link_to "Add New Category", new_category_path %></span>
		</div>
	</div>
<% end %>
<ul>
	<li style="color: brown">Below shows the number of posts.</li>
	<li style="color: brown">Click a tag to view associated posts, same function as above buttons.</li>
</ul>
<div class="row" style="margin-left: 20px">
	<div class="well col-md-3" style="background-color: rgba(243, 159, 205, 0.5)">
		<ul class="list-group">
			<% @categories.each do |category| %>
			  <li class="list-group-item">
			    <span class="badge"><%= category.posts.count %></span>
			    <%= link_to "#{category.name}", category_path(category) %>
		  </li>
		  <% end %>
		</ul>
	</div>
</div>