<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to "#{image_tag("logo.png", size: "50x50")}".html_safe, root_path, :class => 'navbar-brand', :style => 'margin: 0px; padding: 0px' %> 
      <%= link_to "Hal's PostBoard", root_path, :class => 'navbar-brand', :style => 'margin: 0px' %>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><%= link_to "Read Me", readme_path %></li>
    </ul>
    <ul class="nav navbar-nav">
      <li><%= link_to "View Categories", categories_path %></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <% if logged_in? %>
        <li><%= link_to "New Post", new_post_path %></li>
        <li class="dropdown">
          <%= link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' do %>
            <%= "Welcome #{current_user.name} !" %> <span class='caret'></span>
          <% end %>
          <ul class="dropdown-menu">
            <li><%= link_to 'My Profile', user_path(current_user) %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to 'Logout', logout_path%></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to "Login", login_path %></li>
        <li><%= link_to "Register", register_path %></li>
      <% end %>

    </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>