<!DOCTYPE html>
<html>
<head>
  <title>Postsit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'tabicon.png' %>
</head>
<body>
	<header>
		<%= render 'layouts/navigation' %>
	</header>
	<% flash.each do |name, msg| %>
  	<div class="alert alert-info" role="alert">
    	<p><%= content_tag :div, msg, class: name %></p>
  	</div>
  <% end %>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<%= yield %>
			</div>
		</div>
	</div>
	<hr>
	<footer>
		<%= render 'layouts/footer' %>
	</footer>
</body>
</html>
